
<h1> {{ Title }}</h1>
<hr />
<div>
    <input type="button" ng-click="GetRatesClickEvent(this)" value={{Button1}} />
</div>
<hr />
<div>
    <input type="button" ng-click="GetTransClickEvent(this)" value={{Button2}} />
</div>
<hr />
<div>
    <div class="alert"
         ng-if="skuValue.length < NUM_CHAR"
         ng-class="{ 'alert-danger': skuValue.length != NUM_CHAR }">
        {{ SKUAlert }}
    </div>
    <label>{{ SKULabel }}</label>
    <input type="text" ng-model="skuValue" />
    <input type="button" ng-click="GetTransSumClickEvent(this,skuValue)" value={{Button3}} />
</div>
