<h1>This is second.</h1>
<h3>Scope route value (on second page): {{ num }}</h3>

<hr />

<h3>Dishes <input type="button" value="Refresh" ng-click="getAllDishes(2);" /></h3>
<ul>
    <li ng-repeat="dish in dishes">
        {{ dish.Name }} ( {{ dish.Category }} ) - {{ dish.Price }}€
        <input type="button" value="Delete" ng-click="deleteDish(dish.Id);" />
    </li>
</ul>
<div>
    <h3>Search dish by ID</h3>
    <input type="text" ng-model="dishId" size="5" />
    <input type="button" value="Search" ng-click="findDish();" />
    <p>{{ dish.Name === undefined ? "" : dish.Name + " (" + dish.Category  + ") " + " - " + dish.Price + "€"}} </p>
</div>
<add-dish click-handle="addDish()" new-item="newDish">* This is a transclusion</add-dish>